"*":
  core:
    disabledPackages: [
      "git-history"
      "git-diff"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-property-list"
      "language-sql"
      "language-toml"
      "markdown-preview"
      "metrics"
      "package-generator"
      "styleguide"
    ]
    ignoredNames: [
      ".git"
      "node_modules2"
      "tmp"
      ".scss-linters"
      "log"
      "public"
    ]
    themes: [
      "seti-ui"
      "seti-monokai"
    ]
  editor:
    fontSize: 17
    invisibles: {}
  "exception-reporting":
    userId: "19b1f3d0-18f9-c954-9bca-45ac459cb789"
  metrics:
    userId: "aace16df451cca25cd2102dba3b487694573eba2"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
"exception-reporting":
  userId: "08c92d5f-8c72-e1d8-a200-a0f8f3230224"
metrics:
  userId: "9d9e20efdc9ec6944c5664feae4ea8b850e337aa"
welcome:
  showOnStartup: false
